@import '../+base/_constant';

.tp__footer
	position relative
	height 65px
	width 100%
	z-index 10
	background-color $color_base_header
	box-shadow -2px 0 3px 1px rgba(0,0,0,0.2)
	text-align center
	padding $mp_px_md 0
	
	.notes
		color $color_base_white
