@import '../+base/_constant';

.wrapper__outer
	position relative
	display block
	overflow hidden
	width 100%
	margin 0 auto
	min-height 85vh
	
	&.has--header
		margin-top 65px
	
.wrapper__inner
	position relative
	width 60%
	margin 0 auto
	box-sizing border-box
	padding 0 $mp_px_nm
	
@media screen and (min-width 960px) and (max-width 1280px)
	.wrapper__inner
		width 90%
		
@media screen and (max-width 960px)
	.wrapper__inner
		width 100%