@import '../+base/_constant';

.block__headline
	position relative
	width 100%
	display block
	overflow hidden
	background-color #242424
	padding 0
	height 65vh
	box-shadow 0 3px 3px 1px rgba(0,0,0,0.1)
	
	.headline__content
		position relative
		display block
		overflow hidden
		margin-top 15%
	
		.headline
			color $color_base_white
			font-size $size_base_headline
			line-height 1.35em
			text-shadow 0 3px 1px rgba(0,0,0,0.8)
			
		.subheadline
			font-size $size_base_subheadline
			color $color_base_white
			text-shadow 0 3px 1px rgba(0,0,0,0.8)
		
	&.bg--style-1
		background-image url('assets/bg.jpg')
		background-size cover
		background-repeat no-repeat
		background-position center center
		background-attachment scroll

.block
	position relative
	display block
	width 100%
	margin 0 auto
	box-sizing border-box
	padding $mp_px_md ($mp_px_md + 5px) $mp_px_lg
	overflow hidden
	
	&.block--center		
		text-align center
		
		*
			text-align center
			
	&.block--middle
		margin-top 30vh
		
	&.bg--white
		background-color $color_base_white
		box-shadow 0 0 5px 3px rgba(0,0,0,0.085)
	
	.block__subtitle
		font-weight bold
		font-size $size_base_subtitle
	
	.block__title 
		font-weight bold
		font-size $size_base_title
		text-transform uppercase
		margin-bottom $mp_px_md
		color $color_base_title