@import '../+base/_constant';

.tp__card-wrapper
	position relative
	display flex
	align-items center
	flex-wrap wrap
	
	.card
		display block
		width 22%
		box-sizing border-box
		padding $mp_px_sm $mp_px_md $mp_px_md
		margin $mp_px_nm 1.5%
		background-color $card_color_bg
		border-radius 8px
		box-shadow 0 0 5px 3px rgba(0,0,0,0.055)
		
		&.card--actionable
			&:hover
				cursor pointer
			
			&:active
				box-shadow inset 0px 3.25px 2px rgba(0,0,0,0.1), 0 0 2px 1px rgba(0,0,0,0.1)
		
		.card__header
			position relative
			padding-bottom $mp_px_nm - 5px
			padding-top $mp_px_sm
			border-bottom 1px solid #dfdfdf
			
			*
				font-size $card_size_title
				font-weight bold
				color $card_color_title
				margin-bottom 0
				
				// &:link
				// 	color $color_base_link-normal
					
				// &:visited
				// 	color $color_base_link-normal
				
				// &:hover
				// 	color $color_base_link-hover
				
		.card__body
			position relative
			display block
			overflow hidden
			padding $mp_px_sm 0
			margin-top $mp_px_nm
			
			&.align--center
				text-align center
				

		.card__footer
			position relative
			padding $mp_px_sm 0
			
			&.align--center
				text-align center
			
			*
				margin 0 auto
				color $card_color_subtitle
				font-size $card_size_subtitle
				font-weight bold
				